source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

nuget ExifLib
nuget FSharp.Management
nuget FSharp.Configuration
nuget FSharp.Data
nuget ExtCore

github fsharp/FAKE modules/Octokit/Octokit.fsx
