source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

nuget FSharp.Management
nuget ExifLib
nuget FSharp.Configuration

github fsharp/FAKE modules/Octokit/Octokit.fsx
